.songs-playlists {
    display: flex;
}
.song {
    margin: 1rem;
    padding: 1rem;
    border: 0.08rem solid black;
    border-radius: 1rem;
    min-width: fit-content;
    width: 15rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & button {
        width: 2.5rem;
        margin-right: 1rem;
    }
    & .name-and-button {
        margin-bottom: 0.25rem;
    }
}

#audio-player-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:auto;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        & #current-song-name {
            margin: 1rem;
        }
        & #current-song-artist {
            margin: 1rem;
        }
    }
}
#audio-player {
    margin: auto;
    width:100%;
}
