{% extends "layout.html" %}

{% block main %}

<link rel="stylesheet" href="/static/css/admin.css">
<script src="/static/js/player.js"></script>

<section>
    <section class="songs-playlists">
        <!-- A section that shows songs on the left, and playlists on the right -->
        <div class="songs-div">
            <h3 style="justify-content: left; margin:1rem;">All songs</h3>
            <div class="songs">
                {% for song in available_songs %}
                <div class="song" id="{{ song.music_id }}">
                    <!-- Play icon -->
                    <div class="name-and-buttons">
                        <!-- When button is clicked, load the file at /static/audio/music_id.mp4 and play it-->
                        <div class="play-button">
                            <button onclick="playSong('{{ song.music_id }}')" class="btn">
                                <img src="/static/images/play.svg" alt="play" class="play-icon">
                            </button>
                        </div>
                        <span class="song-name">{{ song.name }}</span>

                        <div class="buttons">
                            <!-- When button is pressed, load /edit_song_details/<music_id> -->
                            <a href="/edit_song_details/{{ song.music_id }}">
                                <button class="btn">
                                    <img src="/static/images/edit.svg" alt="edit" class="edit-icon">
                                </button>
                            </a>
                            <a href="/delete_song/{{ song.music_id }}">
                                <button class="btn">
                                    <img src="/static/images/delete.svg" alt="delete" class="delete-icon">
                                </button>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p><span class="artist">{{ song.artist }}</span> • <span class="album">{{ song.album }}</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="stats-div">
            <!-- Show stats of number of songs, number of creators, number of playlists, etc -->
            <h3 style="justify-content: left; margin:1rem;">Stats</h3>
            <p>Number of songs: <span class="stat">{{ num_songs }}</span></p>
            <p>Number of creators: <span class="stat">{{ num_creators }}</span></p>
            <p>Number of playlists: <span class="stat">{{ num_playlists }}</span></p>
            <p>Number of listeners: <span class="stat">{{ num_listeners }}</span></p>
        </div>
    </section>
    <section id="audio-player-section" style="display:none">
        <div>
            <span class="lyrics current" id="current-song-lyrics"></span>
        </div>
        <audio id="audio-player" controls src=""></audio>
        <div song="details">
            <span class="song-name current" id="current-song-name"></span>
            <span class="artist current" id="current-song-artist"></span>
            <span class="album current" id="current-song-album"></span>
            <!-- A hovering div that shows the lyrics when the below button is clicked -->
            <span>
                <button class="btn" id="lyrics-button" onclick="showLyrics()">Lyrics</button>
            </span>
        </div>
    </section>
</section>
{% endblock %}