{% extends "layout.html" %}

{% block main %}

<link rel="stylesheet" href="/static/css/edit_song_details.css">

<section id="edit-song-details">
    <!-- A page to edit song details. Shows the fields and their current. Submit button that posts the details to the same url -->
    <h1>Edit song details</h1>
    <form method="POST" action="/edit_song_details/{{ song.music_id }}">
        <div class="form-group">
            <label for="name">Song name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Song name"
                value="{{ song.name }}">
        </div>
        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" id="artist" name="artist" placeholder="Artist"
                value="{{ song.artist }}">
        </div>
        <div class="form-group">
            <label for="album">Album</label>
            <input type="text" class="form-control" id="album" name="album" placeholder="Album"
                value="{{ song.album }}">
        </div>
        <div class="form-group">
            <label for="lyrics">Lyrics</label>
            <textarea class="form-control" id="lyrics" name="lyrics" rows="3">{{ song.lyrics }}</textarea>
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Genre"
                value="{{ song.genre }}">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" placeholder="Year" value="{{ song.year }}">
        </div>
        <button type="submit" id="button-div" class="btn btn-primary">Submit</button>

    </form>

</section>

{% endblock %}