{% extends "layout.html" %}


{% block main %}
<!-- <link rel="stylesheet" href="/static/css/index.css"> -->
<section>
    <h1>Introducing Soundbars 🎵🎵</h1>
    <h2>Welcome to this music player</h2>
</section>
<section>
    <h3>Explore it's features!</h3>
    <ul>
        <li>Listen to your favourite songs</li>
        <li>Listen to your favourite artists</li>
        <li>Listen to your favourite albums</li>
        <li> Make your own playlists!</li>
    </ul>
    <p>So what are you waiting? Create an account and enjoy listening to whatever you want!</p>
</section>

{% endblock %}