{% extends "layout.html" %}

{% block main %}

<link rel="stylesheet" href="/static/css/player.css">
<script src="/static/js/player.js"></script>

<section>
    <p>Welcome! Listen to your favourite songs!</p>
    <section class="songs-playlists">
        <!-- A section that shows songs on the left, and playlists on the right -->
        <div class="songs">
            {% for song in available_songs %}
            <div class="song" id="{{ song.music_id }}">
                <!-- Play icon -->
                <div class="name-and-button">
                    <!-- When button is clicked, load the file at /static/audio/music_id.mp4 and play it-->
                    <button onclick="loadAudio('{{ song.music_id }}')" class="btn">
                        <img src="/static/images/play.svg" alt="play" class="play-icon"></button>
                    <span class="song-name">{{ song.name }}</span>
                </div>
                <div>
                    <p><span class="artist">{{ song.artist }}</span> • <span class="album">{{ song.album }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="playlists">
            {% for playlist in available_playlists %}
            <div class="playlist">
                <p>{{ playlist.name }}</p>
                <p>{{ str(len(playlist.music_ids)) + "songs" }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="audio-player-section" style="display:none">
        <div song="details">
            <p id="current-song-name"></p>
            <p id="current-song-artist"></p>
        </div>
        <audio id="audio-player" controls src=""></audio>
    </section>
</section>

{% endblock %}